<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActivityTest"
        tools:targetApi="31">
        <activity
            android:name=".nine.PlayVideoActivity"
            android:exported="false" />
        <activity
            android:name=".nine.PlayAudioActivity"
            android:exported="false" />
        <activity
            android:name=".nine.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".nine.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".nine.NineActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.activitytest.nine.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name=".eight.base.DatabaseProvider"
            android:authorities="com.example.activitytest.eight"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".eight.EightMainActivity"
            android:exported="false" />
        <activity
            android:name=".seven.SevenMainActivity"
            android:exported="false" />
        <activity
            android:name=".six.LoginActivity"
            android:exported="true"
            android:label="请登录">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".six.base.AnotherBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="10">
                <action android:name="com.example.broadcasttest.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".six.base.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.example.broadcasttest.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".six.base.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".six.SixMainActivity"
            android:exported="false" />
        <activity
            android:name=".five.ThirdActivity"
            android:exported="false" />
        <activity
            android:name=".five.NewsContentActivity"
            android:exported="false" />
        <activity
            android:name=".five.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".five.FiveMainActivity"
            android:exported="false" />
        <activity
            android:name=".five.FirstActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".four.ElevenActivity"
            android:exported="false" />
        <activity
            android:name=".four.TenActivity"
            android:exported="false" />
        <activity
            android:name=".four.NineActivity"
            android:exported="false" />
        <activity
            android:name=".four.EightActivity"
            android:exported="false" />
        <activity
            android:name=".four.SevenActivity"
            android:exported="false" />
        <activity
            android:name=".four.SixActivity"
            android:exported="false" />
        <activity
            android:name=".four.FiveActivity"
            android:exported="false"
            android:label="This is FiveActivity" />
        <activity
            android:name=".four.FourActivity"
            android:exported="false"
            android:label="This is FourActivity" />
        <activity
            android:name=".four.DialogActivity"
            android:exported="false"
            android:label="DialogTest"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".four.FourMainActivity"
            android:exported="false"
            android:label="This is FirstActivity" />
        <activity
            android:name=".four.SecondActivity"
            android:exported="true"
            android:label="This is SecondActivity">
            <intent-filter>
                <action android:name="com.example.activitytest.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.activitytest.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".four.ThirdActivity"
            android:exported="true"
            android:label="This is ThirdActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>